
name: Deploy (Select RG)

on:
  workflow_dispatch:
    inputs:
      rg_name:
        description: "Which RG module to deploy?"
        required: true
        type: choice
        options:
          - test-rg1
          - test-rg2
          - test-rg3
          - all
      environment:
        description: "Environment/workspace"
        required: true
        type: choice
        options:
          - dev
          - prod
      auto_approve:
        description: "Apply without manual approval?"
        required: true
        type: boolean
        default: false

permissions:
  id-token: write   # required for OIDC to Azure in the called workflow
  contents: read    # checkout and read repo content is fine
        
jobs:
  # Single RG deployment
  deploy-single:
    if: ${{ inputs.rg_name != 'all' }}
    uses: ./.github/workflows/terraform-rg.yml
    with:
      rg_name: ${{ inputs.rg_name }}
      environment: ${{ inputs.environment }}
      auto_approve: ${{ inputs.auto_approve }}
    secrets: inherit

  # All RGs (matrix)
  deploy-all:
    if: ${{ inputs.rg_name == 'all' }}
    strategy:
      matrix:
        rg:
            - test-rg1
            - test-rg2
            - test-rg3
    uses: ./.github/workflows/terraform-rg.yml
    with:
      rg_name: ${{ matrix.rg }}
      environment: ${{ inputs.environment }}
      auto_approve: ${{ inputs.auto_approve }}
    secrets: inherit
